@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans+Condensed:wght@300&display=swap');

body, body * {
    margin:0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: lightgray;
    min-height: 100vh;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 96px;
}

p span {
    font-family: 'Inconsolata', monospace;
    display: block;
    background-color: #fff3;
    border: solid 2px white;
    border-radius: 16px;
    padding: 16px;
}